<%-include("partials/header")-%>
<h1>COMPOSE</h1>
<form action="/compose" method="post">
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control"></div>
    <div class="form-group">
        <label for="compose">Post</label>
        <textarea class="form-control" id="compose" rows="3" name="compose"></textarea> </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>



<!-- <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="email" class="form-control" id="Title" aria-describedby="emailHelp" placeholder="Enter text">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
<%-include("partials/footer")-%>
